/* SplashScreen.css */

.splash-screen {
  height: 100vh; /* Full height of the viewport */
  width: 100vw;  /* Full width of the viewport */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */
  background-color: #fff; /* Optional: background color */
}

.full-screen-logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Contain the image within the container */
}

body {
  background-color: #317586; /* Replace with the exact color from the image */
  color: #29c866; /* Optional: Set a default text color if needed */
}

/* Ensure the container takes up the full height of the viewport */
.full-height-container {
  display: flex;
  justify-content: center; /* Centers the form horizontally */
  align-items: center; /* Centers the form vertically */
  min-height: 100vh; /* Full viewport height */
  background-color: white; /* Background color from the image */
}

.form-container {
  background-color: #f8f9fa; /* Light background for the form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for depth */
  width: 100%;
  max-width: 400px; /* Set a max-width for the form */
}
