body {
    margin: 0;
    font-family: montserrat, Raleway, Arial, sans-serif;
  }
  
  h1, h2, p {
    font-family: montserrat, Raleway, Arial, sans-serif;
    margin: 0;
    padding: 10px 0;
  }
  
  h1 {
    font-size: 3rem;
    color: #e7008a;
  }
  
  h2 {
    font-size: 2rem;
    color: white;
  }
  
  .dashboard p {
    font-size: 1rem;
    color: #e0e0e0;
  }
  
  div {
    margin-bottom: 0px;
  }
  
  .chart-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .dashboard {
    background-color: #0a042e;
    color: white;
  }
  