.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 350px; /* Reduced maximum width */
    width: 90%;
    box-sizing: border-box;
  }
  
  h3 {
    margin-bottom: 15px;
  }
  
  .form-group {
    margin-bottom: 12px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px; /* Adjusted font size for labels */
  }
  
  .form-group input {
    width: 90%;
    padding: 6px 10px; /* Reduced padding for a smaller input */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px; /* Adjusted font size for inputs */
  }
  .button{
    display: flex;
    justify-content: space-around;
  }
  button {
    width: 100px;
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #740182;
    color: white;
    cursor: pointer;
    font-size: 14px; /* Adjusted font size for buttons */
  }
  
  .button button:hover {
    background-color: #0A0322;
  }
  
  @media (max-width: 600px) {
    .popup-content {
      width: 95%;
    }
  }
  