.vehicle-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0d0b33;
    color: #fff;
}

.vehicle-details-card {
    background-color: #2b2846;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
}

.text-center-vehicle {
    color: #cf4af3;
    text-align: center;
}


.section-underline-vehicle {
    width: 550px; /* Adjust width as needed */
    height: 1px;  /* Adjust thickness as needed */
    background-color: red; /* The color for the red line */
    margin: 0 auto 20px auto; /* Centers the line and adds spacing */
}


.section-title {
    color: #cf4af3;
    text-align: center;
}

.form-label {
    color: #fff;
}

.form-control {
    background-color: #504a76;
    color: #fff;
    border: none;
}

.submit-button {
    background-color: #cf4af3;
    border: none;
    width: 100%;
    margin-top: 20px;
}

.vehicle-details-container input {
    margin-bottom: 15px;
}

/* Custom select styling */
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select {
    width: 100%;
    padding-right: 30px; /* Space for the arrow */
    padding-left: 10px;
    appearance: none; /* Remove default arrow */
    background-color: #504a76;
    color: #fff;
    border: none;
    height: 38px;
    border-radius: 5px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.custom-select-wrapper::after {
    content: '↓'; /* Add a down arrow icon */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    color: #fff;
}

.custom-select:focus {
    outline: none;
}

select {
    max-height: 200px; /* Limit the height of the dropdown */
    overflow-y: auto;  /* Enable vertical scrolling */
    background-color: #504a76;
    color: #fff;
    border: none;
    border-radius: 5px;
}

select option {
    background-color: #504a76;
    color: #fff;
}

/* Progress bar styling */
.progress-wrapper {
    margin: 20px 0;
}

.progress-bar {
    background-color: #cf4af3;  /* Custom color for the progress bar */
}