.weather {
    padding: 20px; /* Increased padding for a larger look */
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500aef);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.App .weather{
    padding: 10px;
    float: right;
}

.cityname {
    color: #fff;
    font-size: 18px; /* Increased font size */
    margin-bottom: 5px;
}

.datetime {
    color: #fff;
    font-size: 14px; /* Increased font size */
    margin-bottom: 15px;
}

.weather-header {
    display: flex;
    align-items: center;
    gap: 10px; /* Increased gap between icon and temperature */
    color: #fff;
}

.weather-icon {
    width: 60px; /* Increased icon size */
    margin: 10px;
}

.temperature {
    color: #fff;
    font-size: 30px; /* Increased font size */
    line-height: 1;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .weather {
        max-width: 350px;
    }

    .temperature {
        font-size: 24px;
    }

    .cityname {
        font-size: 16px;
    }

    .datetime {
        font-size: 12px;
    }

    .weather-icon {
        width: 50px;
    }
}

@media (max-width: 720px) {
    .weather {
        max-width: 300px;
        padding: 15px;
    }

    .temperature {
        font-size: 22px;
    }

    .cityname {
        font-size: 14px;
    }

    .datetime {
        font-size: 10px;
    }

    .weather-icon {
        width: 40px;
    }
}
