/* Main Homepage Styles */
.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0a0520; /* Match the background color from your design */
  color: white;
}

/* Main content container */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px; /* Reduced to decrease space below the subtitle */
  color: #b0b0b0;
}

/* Button Container */
.button-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

/* Title Styles */
.title {
  font-size: 2.5rem;
  margin: 10px 0; /* Reduced top and bottom margins */
  font-weight: 700;
  color: #e10084; /* Pink color */
}

/* Logo Container */
.logo {
  margin-bottom: 10px; /* Reduced to decrease space between logo and title */
}

/* Logo Image */
.logo-image {
  max-width: 150px; /* Adjust width to fit your design */
}
